@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  position: relative;
}

/* ==== Typography ==== */

h1 {
  font-size: 3rem;
}

a {
  text-decoration: none;
}

footer a {
  color: black;
  padding-right: 1em;
}

.quiz-card h3 {
  font-size: 15px;
}

.quiz-card p {
  font-size: 12px;
}

.sidebar a {
  color: #666;
  font-size: 20px;
}

.sidebar li {
  margin-bottom: 75px;
}

.sidebar li:first-child {
  margin-bottom: 47px;
}

.sidebar li:nth-child(3) {
  margin: 46px 0 75px;
}

.genre {
  color: #BE123C;
  margin-left: 1em;
}

.rating i {
  color: #FFD336;
 }
 
 .vote {
   color: #E8E8E8;
 }

/* ===== Layout ====== */

.heroBg {
  height: 70vh;
  color: white;
  flex-direction: column;
  padding: 1em;
  background-size: cover;
  background-position: center;
}

.menu {
  margin-left: 1em;
  background-color: #BE123C;
  padding: 1em;
  border-radius: 50px;
}

.vote img {
  width: 10px;
}

.heroBg button {
 background-color: #BE123C;
 padding: 1em;
 border-radius: 10px;
 border: 0;
 color: white;
 font-weight: 700;
}

header, .card-container {
  align-items: center;
  width: 90%;
  margin: 1em auto;
}

header, .card-container, .heroBg,
.details-container, .quiz-card, 
.subtitle, .overview-card {
  display: flex;
}

header {
  padding: 1em 0; 
  position: absolute; 
  top: 0;
  margin-bottom: 2em;
}

header input {
  width: 50%;
  padding: 1em;
  border-radius: 10px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
}  

input:placeholder {
  color: white;
}

.content {
  width: 40%;
  margin-left: 2em;
  margin: auto 0;
}

header a {
  color: white;
  text-decoration: none;
}

.card-container, .details-container, 
header, .overview-card {
  justify-content: space-between;
}

.details-container, .subtitle {
  align-items: center;
}

.sidebar {
  width: 20%;
  border: 1px solid grey;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  align-self: baseline;
  padding: 2em 0;
  height: 100vh;
}

.rating {
  margin-left: auto;
}


.quiz-card {
  flex-direction: column;
}

.sidebar ul {
  padding: 0;
}

.sidebar li {
  padding-left: 4em;
}

.poster-img {
  object-fit: cover;
  object-position: center top;
  height: 450px;
  width: 100%;
  border-radius: 20px;
}

.quiz-card {
  border: 1px solid rgba(190, 18, 60, 0.70);
  border-radius: 20px;
  background-color: rgba(248, 231, 235, 0.40);
  width: 80%;
  padding: 1em;
  margin: 0 auto;
}

.sidebar li i {
  margin-right: 10px;
}

.active {
   background-color: rgba(190, 18, 60, 0.20);
   padding: 2em 0;
   border-right: 3px solid #BE123C;
}

.quiz-card button, 
.btn-option {
  background-color: rgba(190, 18, 60, 0.20);
  color: #BE123C;
  border: 0;
}

.btn-showtime {
  background-color: #BE123C;
  color: white;
  border: 0;
}

.quiz-card button { 
  padding: .5em 1em;
  border-radius: 20px;
  align-self: center;
}

.side-logo {
  margin: 0 auto 45px;
  width: 186px;
}

li {
  list-style: none;
}

.details-card {
  width: 80%;
  padding: 2em 3em;

}

.overview {
  width: 65%;
}

.options-card {
  width: 30%;
}

.options-card button {
  width: 100%;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 10px;
}

.poster-bg {
  width: 100%;
}

.card-container {
  flex-wrap: wrap;
}

.feature {
  padding: 1em;
}

.card {
  width: 31%;
  padding: 1em;
  border-radius: 10px;
}

.card img:first-child {
  width: 100%;
}

footer {
  text-align: center;
}

.hamburger {
  display: none;
}

@media(max-width: 600px) {
  .card-container, header, 
  .details-container, 
  .overview-card {
    flex-direction: column;
  }

  .subtitle {
    flex-wrap: wrap;
  }

  header input {
    color: white;
    margin: 1em 0;
  }

  .card, header, .content,
  .sidebar, .quiz-card {
    width: 90%;
  }

  .overview-card {
    padding: 1em;
  }

  h1 {
    font-size: 2rem;
    margin-top: 2em;
  }

  .details-card, .overview,
  .options-card,
  header input, .sidebar {
    width: 100%;
  }

  .details-card {
    padding: 0;
  }

  .poster-img {
    border-radius: 0;
  }

  .overview-card, .subtitle{
    padding: 0 1.4em;
  }

  .heroBg {
    height: 100vh;
  }

  .signin {
    margin-top: 1em;
  }

  header {
    align-items: flex-start;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid #666;
  }

  .hide {
    display: none;
  }

  .show, .hamburger {
    display: block;
  }

  .side-logo {
    margin: 0;
  }

  .hamburger {
    font-size: 2rem;
  }

  .sidebar {
    border: 0;
    height: auto;
  }

  .overview {
    margin-bottom: 1em;
  }

  .subtitle h2 {
    margin-bottom: 0;
  }

  .quiz-card {
    margin-top: 1.4em;
  }
}