@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

/* ==== Typography ==== */

h1 {
  font-size: 3rem;
}

a {
  text-decoration: none;
}

footer a {
  color: black;
  padding-right: 1em;
}

/* ===== Layout ====== */

.heroBg {
  height: 70vh;
  color: white;
  flex-direction: column;
  padding: 1em;
}

.menu {
  margin-left: 1em;
  background-color: #BE123C;
  padding: 1em;
  border-radius: 50px;
}

.vote img {
  width: 10px;
}

.heroBg button {
 background-color: #BE123C;
 padding: 1em;
 border-radius: 10px;
 border: 0;
 color: white;
 font-weight: 700;
}

header, .card-container {
  align-items: center;
  width: 90%;
  margin: 1em auto;
}

header, .card-container {
  display: flex;
}

header {
  justify-content: space-between;
  padding: 1em 0;  
}

header input {
  width: 50%;
  padding: 1em;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid white;
}  

input:placeholder {
  color: white;
}

.content {
  width: 30%;
  margin-left: 2em;
}

header a {
  color: white;
  text-decoration: none;
}

.card-container {
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 31%;
  padding: 1em;
  border-radius: 10px;
}

.card img:first-child {
  width: 100%;
}

footer {
  text-align: center;
}

@media(max-width: 600px) {
  .card-container, header {
    flex-direction: column;
  }

  header input {
    color: white;
    width: 100%;
    margin: 1em 0;
  }

  .card, header, .content {
    width: 90%;
  }

  h1 {
    font-size: 2rem;
  }

  .heroBg {
    height: 100vh;
  }

  header {
    justify-content: center;
  }
}
